<!DOCTYPE html>
<html lang="es">

<%- include('partials/head', {title: 'Editar Película'}) %>

<body>
    <%- include('partials/header') %>
    <main>
        <figure>
            <img src="/img/logo-DH.png" alt="Logo Digital House">
          </figure><br>
        <h1 class="titulo">Película Editada:  <%= Movie.title %></h1><br>
        <section class="formulario">
            <form class="style-form" action="/movies/update/<%= Movie.id %>?_method=PUT" method="POST">
                <label for="title">Title </label>
                <p><input type="text" name="title" id="title" value="<%= locals.old && old.title ? old.title : Movie.title %>"></p>
                <p><span class="warning"><%= locals.errors && errors.title ? errors.title.msg : null %></span></p>
                <label for="rating">Rating </label>
                <p><input type="number" name="rating" id="rating" value="<%= locals.old && old.rating ? old.rating : Movie.rating %>"></p>
                <p><span class="warning"><%= locals.errors && errors.rating ? errors.rating.msg : null %></span></p>
                <label for="awards">Awards </label>
                <p><input type="number" name="awards" id="awards" value="<%= locals.old && old.awards ? old.awards : Movie.awards %>"></p>
                <p><span class="warning"><%= locals.errors && errors.awards ? errors.awards.msg : null %></span></p>
                <label for="release_date">Release date </label>
                <p><input type="date" name="release_date" id="release_date" value="<%= Movie.release_date %>"></p>
                <p><span class="warning"><%= locals.errors && errors.release_date ? errors.release_date.msg : null %></span></p>
                <label for="length">Length </label>
                <p><input type="number" name="length" id="" value="<%= locals.old && old.length ? old.length : Movie.length %>"></p>
                <p><span class="warning"><%= locals.errors && errors.length ? errors.length.msg : null %></span></p>
                <label for="genre_id">Genre </label>
                <p>
                    <select name="genre_id" id="">
                        <% if (Movie.genre_id) { %>
                            <% allGenres.forEach(genre => { %>
                            <option value="<%= genre.id %>" <% if (Movie.genre_id == genre.id) { %><%= 'selected' %><% }; %>><%= genre.name %></option>
                            <% }); %>
                        <% } else { %>
                            <option value="" disabled selected>- Seleccione el género - </option>
                            <% allGenres.forEach(genre => { %>
                                <option value="<%= genre.id %>"><%= genre.name %></option>
                                <% }); %>
                        <% } %>
                    </select>
                    <p><span class="warning"><%= locals.errors && errors.genre_id ? errors.genre_id.msg : null %></span></p>
                </p>
        
        <!--
                <label for="genre_id">Genre ID </label>
                <p><input type="number" name="genre_id" id="" value="<%= Movie.genre_id %>"></p>
            -->
                
                <br>
                <p> <button class="botonAgregar" type="submit">Actualizar</button>
            
                <a  class="botonVolver" href="/movies">Listado de Películas</a></p>
            </form>
        </section>
    </main>
</body>

</html>